{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}


    <h2>Search Results</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for symbol in symbols %}
                <tr>
                    <td>{{ symbol.symbol }}</td>
                    <td>{{ symbol.price | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
